.modal.chat#chatGlobal(title="Global Chat")
    .messages
    .container-fluid.send
        form.navbar-form.navbar-right
            .form-group
                input.chatMessage.form-control(type="text",autocomplete="off")
            button.btn() Submit