extends layout

block content
    h1= title
    p Welcome to #{title}
    ul
        li Kyle Meyerhardt
        li Eric Donaldson
        li Robert Hackemack
        li Truong Pham
        li Alec Yenter