body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.hidden {
  position:absolute;
  top:-1000px;
  //display:none;
}

.chat {
  .send {
    .chatMessage {
      width: 100%;
    }
    position: absolute;
    bottom: 0px;
  }
}