/* Add some margin to the page and set a default font and colour */
body {
  //  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 30px;
  font-family: "Georgia", serif;
  line-height: 1.8em;
  color: #333;
  background: url("/img/texture5.png") repeat top left;
}

/* Give headings their own font */
h1, h2, h3, h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.hidden {
  position: absolute;
  top: -1000px;
  //display:none;
}

.chat {
  span.user {
    font-weight: bold;
  }
  .send {

    form {
      position: absolute;
      //      bottom: 0px;
    }
  }
}

.gameOld {
  .row {
    .cell {
      border: 1px solid black;
      width: 95px;
      height: 122px;
      padding: 0px;
    }
  }
}

// Gameboard and it's piles
#gameBoard {
  margin: 0 auto;
  height: 880px;
  width: 80%;
  padding: 20px;
  min-width: 800px;
  text-align: center;
  background-image: url("/img/texture4.png");
  background-repeat: repeat-x repeat-y;
  background-clip: padding-box;
  border: 10px solid rgba(255, 255, 255, .2);
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(255, 255, 255, .8),
  0 0 3px rgba(0, 0, 0, 1),
  1px 1px 0 rgba(0, 0, 0, .2) inset,
    -1px -1px 0 rgba(0, 0, 0, .2) inset;
}

#cardPile1 {
  margin: 0 auto;
  float: left;
  background: #ffd;
}

#cardPile1 {
  width: 120px;
  height: 832px;
  padding: 20px;
  border: 2px solid #333;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

#cardPile2 {
  margin: 0 auto;
  float: right;
  background: #ffd;
}

#cardPile2 {
  width: 120px;
  height: 832px;
  padding: 20px;
  border: 2px solid #333;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

/* Slots for final card positions */
#cardSlots {
  position: absolute;
  margin: 0 auto;
  margin-top: 30px;
  clear: both;
  /*background: #ddf;*/
  background: url("/img/triad.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 360px;
  height: 497px;
  padding: 0px;
  border: 2px solid #333;
  left: 0;
  right: 0;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

/* Individual cards and slots */

#cardSlots div {
  float: left;
  width: 95px;
  height: 122px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 0;
  border: 2px solid #333;
}

#cardPile1 div {
  float: left;
  width: 95px;
  height: 122px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 0;
  border: 3px solid #333;
  background: #fff;
}

#cardPile2 div {
  float: left;
  width: 95px;
  height: 122px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 0;
  border: 3px solid #333;
  background: #fff;
}

#cardSlots div:first-child, #cardPile1 div:first-child, #cardPile2 div:first-child {
  margin-left: 0;
}

#cardSlots div.hovered {
  background: #aaa;
}

#cardSlots div {
  border-style: dashed;
}

#cardPile1 div {
  background: #666;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 3px #000;
}

#cardPile1 div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

#cardPile2 div {
  background: #666;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 3px #000;
}

#cardPile2 div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* Individually coloured cards */
#cardSlots, #cardPile1, #cardPile2 {
  .player1card {
    border-width: 2px;
    border-color: blue;
  }

  .player2card {
    border-width: 2px;
    border-color: red;
  }
}