.modal#changePassword(title="Change Password")
    form
        .form-group
            label.control-label(for="oldpassword") Old Password
            input#oldpassword.text.ui-widget-content.ui-corner-all.form-control(type="password",name="oldpassword")
        .form-group
            label.control-label(for="newpassword") New Password
            input#newpassword.text.ui-widget-content.ui-corner-all.form-control(type="password",name="newpassword")
        .form-group
            label.control-label(for="confirmpassword") Confirm Password
            input#confirmpassword.text.ui-widget-content.ui-corner-all.form-control(type="password",name="confirmpassword")
        input.hidden(type="submit",tabindex="-1")