//
   Created by zaephor on 4/22/15.
extends ../layout

block head
block header
block content
  form.form-signin#signin(method="post",action="/user/signin")
    h2.form-signin-heading Sign in\Register
    label.sr-only(for="inputEmail") Email address
    input.form-control#inputEmail(type="email",placeholder="Email address",required,autofocus,name="email")
    label.sr-only(for="inputPassword") Password
    input.form-control#inputPassword(type="password",placeholder="Password",required,name="password")
    div.checkbox
      label
        input(type="checkbox",value="remember-me",name="remember")
        | Remember me
    button.btn.btn-lg.btn-primary(type="submit",name="action",value="signin") Sign in
    button.btn.btn-lg.btn-primary(type="submit",name="action",value="register") Register
block footer
block foot