.modal#signIn(title="Sign In or Register")
    form
        .form-group
            label.control-label(for="email") Email
            input#email.text.ui-widget-content.ui-corner-all.form-control(type="email",name="email")
        .form-group
            label.control-label(for="password") Password
            input#password.text.ui-widget-content.ui-corner-all.form-control(type="password",name="password")
        input.hidden(type="submit",tabindex="-1")