.modal.buddy#buddyAdd(title="Add to buddy list")
    form
        .form-group
            label.control-label(for="buddyEmail") Buddy's email
            input#buddyEmail.text.ui-widget-content.ui-corner-all.form-control(type="text",name="buddyEmail",value="")
        input.hidden(type="submit",tabindex="-1")